# ====================================================
# Chess Engine Configuration for AI opponent;
# Uses WebSockets library to generate
# chess moves for AI with StockFish Chess Engine 
# ====================================================


# setting up engine mode
ENGINE_MODE=remote

# WebSocket for chess-api.com
CHESS_WS_URL=wss://chess-api.com/v1

# authentication field (API key); not currently required by chess-api.com
CHESS_API_KEY= 

BOT_VARIANTS=1
BOT_TIMEOUT=10
